    <div class = 'products'>     
        {{#each products}}
        <h2>{{id}}</h2>
        <div>{{name}}</div>
        <div>{{price}}</div>
        <div>{{inventory}}</div>
        {{/each}}
    </div>