<form class="form" action="/{{type}}" method="POST" name="form">
    Product Name:<br>
    <input type="text" name="name" value=""><br>
    Product Price:<br>
    <input type="text" name="price" value=""><br>
    Product Inventory:<br>
    <input type="text" name="inventory" value=""><br><br>
    <input type="submit" value="Submit">
</form>